.background-color-dark
{
    background-color:#222529 !important;
    
}
.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
html .heading-light, html .lnk-light, .text-color-light 
{
    color: #ffffff !important;
}

.font-weight-medium 
{
    font-weight: 500;
}
.main-menu,.menu-item{
    float: left;
}
ul.nav{
    float: left;
}

.cat-title{
    font-size: 1.375rem;
    font-weight: 600;
    letter-spacing: .025em;
}
/* .fixed-header #header {
    
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: auto;
    z-index: 1001;
    border-top-width: 0;
}
.header-wrapper {
    background-color: transparent;
    position: relative;
}
.fixed-header #header .header-main {
    background-color: rgba(255,255,255,0.01);
}
#header .header-bottom .header-row, #header .header-main .header-row, #header .header-top .header-row {
    display: flex;
}
@media (min-width: 768px){
.container-fluid, body.wide .container:not(.inner-container), .page-top > .container:not(.inner-container) {
    padding-left: 4vw;
    padding-right: 4vw;
    max-width: none;
}
}
#header .header-main .header-left, #header .header-main .header-center, #header .header-main .header-right, .fixed-header #header .header-main .header-left, .fixed-header #header .header-main .header-right, .fixed-header #header .header-main .header-center, .header-builder-p .header-main {
    padding-top: 30px;
    padding-bottom: 30px;
} */